html {
    height : 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    margin: 0;
    padding: 0;
}

#choice {
    flex: 1;
    background-color: #ccc;
    border: #000 solid 1px;
    padding: 5px;
    text-align: center;
}

#grid {
    flex: 50;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.row {
    flex: 1;
    display: flex;
}

.box {
    flex: 1;
    background-color: #ffffff;
    border: #000 solid 1px;
}
